 .mycar_wrap .content .J_Header .logo { float: left; font-size: 20px;}
 .J_ItemSkuSelect {   position: absolute; top: 27px; left: 100px;}
.J_SkuMask {min-width: 94px;display: inline-block;margin-right:10px;margin-bottom: 5px;}
