/*ͷ��*/
.head {max-width:1200px;height: 100px;margin: 0 auto 1px;}
.head .logo {max-width:1200p;height: 100px;}
.head .logo a {display: block;width: 200px;height: 60px;background-color: #333;}
/*����*/
.register_wrap {width: 100%; height: 520px; background: url(../images/CN.png) CENTER no-repeat; background-color: #0e1118;}
.register_wrap .register {width: 346px;height: 403px;float: right;position: relative;right: 100px;top: 85px;}
.register_wrap .register .right {width: 100%;height: 100%;background-color: #fff;}
.register_wrap .register .right .register_tab {height:50px;}
.register_wrap .register .right .minder {color: red;padding-left: 17px;}
.register_wrap .register .right .register_tab .fl {width: 50%;float: left;}
.register_wrap .register .right .register_tab .lo_mod,
.register_wrap .register .right .register_tab .eb_mod {color: #666666;font-weight: bold;width: 173px;line-height: 50px;display: inline-block;float: right;text-align: center;height: 55px;background: #fff;border: none; outline: none;font-size: 16px;}
.register_wrap .register .right .register_tab .tab_on {  color: #333;  border-bottom: 2px solid #333;}
.register_wrap .register .right .register_tab #getMsg {visibility: hidden;}
.register_wrap .register .right .item-fore1,
.register_wrap .register .right .item-fore2,
.register_wrap .register .right .item-fore3 {width: 302px;height: 40px;margin: 10px auto;}
.register_wrap .register .right .item-fore5,
.register_wrap .register .right .item-fore6 {width: 299px;height: 40px;margin: 10px auto;text-align: center; margin-right: 25px;}
.register_wrap .register .right .item-fore3 {position: relative; margin: 10px auto 5px;}
.register_wrap .register .right .item-fore1 select,
.register_wrap .register .right .item-fore2 button {width: 95px;height: 100%;}
.register_wrap .register .right .item-fore1 input,
.register_wrap .register .right .item-fore2 input {width: 198px;height: 100%;border: 1px solid #bdbdbd;text-indent: 4px;}
 .register_wrap .register .right .item-fore2 input[type="button"]{  width: 95px;  text-indent: -6px;}
.register_wrap .register .right .item-fore2 input[type="submit"] { width: 95px;}
.register_wrap .register .right .item-fore5 .pwd ,
.register_wrap .register .right .item-fore6 .identity_card {width: 100%;height: 100%;border: 1px solid #bdbdbd;text-indent: 4px;}
.register_wrap .register .right .item-fore3 input {background-color: #333; border-radius: 6px; color: #fff;font-size: 16px;width: 100%;height: 100%;border: 1px solid #bdbdbd;text-indent: 2px;}
.register_wrap .register .right .item-fore3 input:hover {	background-color: #000;}
.register_wrap .register .right .ot_btn {width: 346px;height: 60px; text-align: center;}
.register_wrap .register .right .ot_btn li {display: inline-block; text-align: center;font-size: 14px; padding: 15px;}
.register_wrap .register .right .ot_btn li img{position: relative;top: 4px;	right: 2px;}
.register_wrap .register .right .link_login{text-align: right;  margin-right: 20px;}
.register_wrap .right .link_login .agree {	position: relative;  right: 128px;}
.register_wrap .right .link_login #agreementDialog {position: relative; left: 4px;bottom: 2px; color: #333;}
.register_wrap .link_login .agree a {color:#551A8B;}
.register_wrap  .agree a:hover {text-decoration:underline;}
.register_wrap .ks-dialog-content {width: 724px;  height: 435px;     border:2px solid #333;     background-color:#fff;    margin:0 auto;   padding: 20px;   position: relative;  top: 23px;     display:none;}
.register_wrap .ks-dialog-content  i {    position: absolute;  top: 10px; right: 10px;cursor: pointer;}
.register_wrap  .agreementBtn {  text-align: center;	padding: 25px;}
.register_wrap   .agreementBtn input {width: 122px;height: 30px;}
.register_wrap   .agreementBtn  .close_warm { margin-top:6px ; }